<div class="panel panel-default">
  <div class="panel-heading">Personal Information</div>
  <div class="panel-body">
    <% if current_user.image.present? %>
      <%= link_to image_tag(current_user.picture_url("thumb")), current_user.picture_url %>
    <% end %>
    <div class="profile-username">
      <b><%= current_user.username %></b>
    </div>
    <div class="pull-left">
      <i><%= current_user.email %></i>
    </div>
    <div class="pull-right">
      <%= link_to 'Edit Profile', edit_user_registration_path %>
    </div>
  </div>
</div>
<div class="new-product">
  <%= link_to 'Create New Product', new_product_path, class: "btn btn-primary" %>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Products</div>
  <div class="panel-body">
    <% @products.each do |product| %>
      <div class="product">
        <div class="pull-left">
           <% if product.images.present? %>
            <%= link_to image_tag(product.images.first.photo(:thumb)), product.images.first.photo.url, class: "img-thumbnail" %>
          <% end %>
        </div>
        <div class="content">
          <div>
            <b><%= product.title.titleize %></b>
          </div>
          <div>
            <i><%= product.description %></i>
          </div>
          <div class="pull-right">
            <b><%= format_price(product.price) %></b>
          </div>
          <div class="product-methods">
            <%= link_to 'Show', product %>
            <%= link_to 'Edit', edit_product_path(product) %>
            <%= link_to 'Destroy',  product,  method: :delete, data: { confirm: 'Do you really want to delete this product?' } %>
          </div>
        </div>
      </div>
      <% if product.reviews.present? %>
        <div class="panel panel-default">
          <div class="panel-heading">Reviews</div>
          <div class="panel-body">
            <% product.reviews.each do |review| %>
              <div>
                <% if review.user.image.present? %>
                  <%= link_to image_tag(review.user.picture_url("thumb")), review.user.picture_url, class: "img-thumbnail"%>
                <% end %>
                <%= link_to review.user.username, review.user, class: "review-user" %>
                <%= review.description %>
                <%= link_to 'Delete', product_review_path(product.id,review) , confirm: "Are you sure?", method: :delete, class: "pull-right review-deletion" %>
                <hr>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <hr>
    <% end %>
  </div>
<div class="pull-right"><%= paginate @products %></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Your Reviews</div>
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <% @reviews.each do |review| %>
        <tr id="row_<%= review.id %>">
          <td><%= review.description %></td>
          <td><%= link_to 'Show', review.product %></td>
          <td><%= link_to 'Edit', edit_product_review_path(review.product, review), data: { type: :html }%></td>
          <td><%= link_to 'Destroy', [review.product, review], method: :delete, remote: true, data: { confirm: 'Do you really want to delete this review?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
<div class="pull-right"><%= paginate @reviews, param_name: :reviews %></div>
</div>
