<div id="order-error" class="hidden"><%= render "order_items/cart_error_message" %></div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="user-details"><%= get_title(current_user.username) %> Profile
      <div class="pull-right">
        <%= link_to 'Edit Profile', edit_user_registration_path %>
      </div>
    </h1>
  </div>
  <div class="panel-body">
    <% if current_user.image.present? %>
      <%= link_to image_tag(current_user.picture_url("thumb")), current_user.picture_url %>
    <% end %>
    <div class="profile-username">
      <strong><%= get_title(current_user.username) %></strong>
    </div>
    <div class="pull-left">
      <i><%= current_user.email %></i>
    </div>
  </div>
</div>
<div class="new-product">
  <%= link_to 'Create New Product', new_product_path, class: "btn btn-primary" %>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Products</div>
  <div class="panel-body">
    <% if @products.present? %>
      <% @products.each do |product| %>
        <div id="product_row_<%= product.id %>">
          <div class="product">
            <div class="pull-left">
               <% if product.images.present? %>
                <%= link_to image_tag(product.images.first.photo(:thumb)), product.images.first.photo.url, class: "img-thumbnail" %>
              <% end %>
            </div>
            <div class="content">
              <h2 class="dashboard-product-title">
                <b><%= get_title(product.title) %></b>
              </h2>
              <div>
                <i><%= product.description %></i>
              </div>
              <div class="pull-right">
                <b><%= format_price(product.price) %></b>
              </div>
              <div class="product-methods">
                <%= link_to 'Show', product %>
                <%= link_to 'Edit', edit_product_path(product) %>
                <%= link_to 'Delete', product, method: :delete, remote: true, data: { confirm: 'Do you really want to delete this product?' } %>
                <% if product.reviews.present? %>
                  <%= link_to 'View all reviews', product_reviews_path(product) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
    <% else %>
      <div id ="user-products" class="product-reviews bg-info text-center"> No products to display!</div>
  <% end %>
  </div>
<div class="pull-right"><%= paginate @products %></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Your Reviews</div>
  <div class="panel-body">
    <% if @reviews.present? %>
      <table class="table table-striped table-hover">
        <% @reviews.each do |review| %>
          <tr id="row_<%= review.id %>">
            <td><%= review.description %></td>
            <td><%= link_to 'Show', review.product %></td>
            <td><%= link_to 'Edit', edit_product_review_path(review.product, review) %></td>
            <td><%= link_to 'Delete', [review.product, review], method: :delete, remote: true, data: { confirm: 'Do you really want to delete this review?' } %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div id ="user-reviews" class="product-reviews bg-info text-center"> No Review to display!</div>
    <% end %>
  </div>
<div class="pull-right"><%= paginate @reviews, param_name: :reviews %></div>
</div>
