<%= nested_form_for @product do |f| %>

  <table id="review_list">
    <% @product.reviews.each do |review| %>
      <tr>
        <td><%= review.description %></td>
        <td><%= link_to 'Edit', edit_product_review_path(@product.id,review) %></td>
        <td><%= link_to 'Delete', product_review_path(@product.id,review) , confirm: "Are you sure?", method: :delete %></td>
      </tr>
    <% end %>
  </table>

  <div class="feild">
    <% f.fields_for :reviews do |review| %>
      <%= review.text_field :description %>
      <% if user_signed_in? %>
        <%= review.hidden_field :user_id, :value => current_user.id %>
      <% end %>    
    <% end %>
    <p><%= f.link_to_add "Add a Review", :reviews %></p>
  </div>

  <div class="actions">
    <p><%= f.submit "Submit Review", data: { target: "#reviews" } %></p>
  </div>
<% end %>

