<h3>Products</h3>
<div id="order-error" class="alert alert-warning hidden">
  This item is already in cart!
</div>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <% if product.images.present? %>
          <td><%= link_to image_tag(product.images.first.photo(:thumb)), product.images.first.photo.url, class: "img-thumbnail"%></td>
        <% end %>
        <td><%= product.title.titleize %></td>
        <td><%= product.description %></td>
        <td><%= format_price(product.price) %></td>
        <td>
          <%= link_to 'View', product , class: "product-link" %>
          <%= link_to 'Seller', product.user, class: "product-link" %>
          <%= form_for @order_item, remote: true do |f| %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit 'Add To Cart' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div><%= paginate @products%></div>
<div><%= page_entries_info @products %></div>
