<h1>Listing products</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <% if product.images.present? %>
      <td><%= link_to image_tag(product.images.first.photo(:thumb)), product.images.first.photo.url %></td>
    <%end %>
    <b><td> <%= product.title %></td></b>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Owner', product.user %></td>
  </tr>
<% end %>
</table>

<%= paginate @products%>
<%= page_entries_info @products %>
