<h1>Listing products</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <% if product.images.present? %>
      <td><%= link_to image_tag(product.images.first.photo(:thumb)), product.images.first.photo.url %></td>
    <%end %>
    <b><td> <%= product.title %></td></b>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= button_to 'Destroy',  product,  method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Product', new_product_path %>
<%= paginate @products%>
<%= page_entries_info @products %>
