<div id="order-error" class="hidden"><%= render "order_items/cart_error_message" %></div>
<div class="panel panel-default">
  <div class="panel-heading">
    Product Details
    <div class="pull-right">
      <%= link_to 'Seller', @product.user, class: "product-link" %>
    </div>
  </div>
  <div class="panel-body">
    <div>
      <% @product.images.each do |picture| %>
        <%= link_to image_tag(picture.photo.url(:thumb)), picture.photo.url, class: "img-thumbnail" %>
      <% end %>
    </div>
    <div>
      <b><%= get_title(@product.title) %></b>
    </div>
    <div class="pull-left">
      <i><%= @product.description %></i>
    </div>
    <div class="pull-right">
      <%= form_for @order_item, remote: true do |f| %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.submit 'Add To Cart', class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <div class="pull-right product-price">
      <b><%= format_price(@product.price) %></b>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Reviews</div>
  <div class="panel-body">
    <%= render 'reviews/reviews' %>
    <% unless valid_user?(@product.user) %>
      <%= render 'reviews/review_form' %>
    <% end %>
  </div>
</div>
<% if valid_user?(@product.user) %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>
