<% if @reviews.present? %>
  <div id="order-error" class="hidden"><%= render "order_items/cart_error_message" %></div>
  <div id="product-review" class="panel panel-default">
    <div class="panel-heading">Reviews</div>
    <div class="panel-body">
      <% @reviews.each do |review| %>
        <div id="row_<%= review.id %>">
          <% if review.user.image.present? %>
            <%= link_to image_tag(review.user.picture_url("small")), review.user.picture_url, class: "img-thumbnail"%>
          <% end %>
          <%= link_to review.user.username, review.user, class: "review-user" %>
          <%= review.description %>
          <div class="pull-right">
            <%= link_to 'Show', review.product %>
            <%= link_to 'Delete', product_review_path(review.product,review) , confirm: "Do you really want to delete this review?", method: :delete, remote: true%>
          </div>
          <hr>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="panel panel-default">
    <div class="panel-heading">Currently there are no reviews!</div>
  </div>
<% end %>
